
body {
    background-color: #000000;
}

#webgl-preview {
    width: 100%;
    margin-top: 20px;
    height: 300px;
}

#webgl-preview canvas {
    border: 1px solid #222222;
}

.white-label {
    color: lightgrey;
    margin-right: 10px;
    margin-left: 10px;
}

.label-border {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 3px 5px;
}